<ion-header>
  <ion-toolbar color="primary">
    <ion-title >Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row *ngIf="!devicesExist">
      <ion-card class="card">
        <ion-card-header>
            <ion-card-title class="cardtitle">Login</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item class="cardinput">
            <ion-input value="81alex9@gmail.com" placeholder="Email" inputmode="email" type="email" #username (keyup.enter)="LoginOnSubmit(username.value, password.value)"></ion-input>
          </ion-item>
          <ion-item class="cardinput">
            <ion-input value="skimin828" class="input" placeholder="password" inputmode="password" type="password" #password (keyup.enter)="LoginOnSubmit(username.value, password.value)"></ion-input>
          </ion-item>
          <ion-grid>
            <ion-button class="button button-block" (click)="LoginOnSubmit(username.value, password.value)">Login</ion-button>
            <br>
            <div class="error" *ngIf="isLoginError">Error: {{objerror.error_description}}</div>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row *ngIf="devicesExist">
      <ion-card class="bigcard">
          <ion-card-header>
              <ion-card-title class="cardtitle">Select a Device</ion-card-title>
          </ion-card-header>
        <ion-card-content>
          <ion-list>
              <ion-select placeholder="Click Here" [(ngModel)]="devSelected" (ionChange)="NotifySelect()">
                <ion-select-option [value]="device.id" *ngFor="let device of devices">
                  {{device.name}}
                </ion-select-option>
              </ion-select>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>